@model crudBodega.Models.Ingrediente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Nombre Ingrediente</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreingrediente)
        </dd>
        <dt class = "col-sm-2">
            <a>Precio Ingrediente</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precioingrediente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idingrediente">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
