@{
    ViewData["Title"] = "Login Mesas";
}
<div class="row">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Login/Index")" method="post" >
    <div id="frm">
        N° de Mesa
        <input type="password" name="idmesa" />
        <input type="submit" class="btn btn-success" value="Entrar" />
    </div>
    </form>

</div>

