@model crudBodega.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Producto</h3>
<div>
    <h4>Cualquier cambio realizado acá, será irreversible</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Descripción Producto</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcionproducto)
        </dd>
        <dt class = "col-sm-2">
            <a>Valor Producto</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorproducto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idproducto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
