@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menú</h1>
    <p>Nuestra mejor variedad y al precio irresistible!</p>
</div>


<div class="container-fluid">
    <a href="/Productos/Index">><h6>Ingresar Orden</h6></a>
</div>

<div class="container-fluid">
    <a href="/Ingredientes/Index">><h6>Bebestibles</h6></a>
</div>

<div class="container-fluid">
    <a href="/Productoes/Index">><h6>Pedir Extra</h6></a>
</div>

<div class="container-fluid">
    <a href="/Platoes/Index">><h6>Pagar Cuenta</h6></a>
</div>

<div class="container-fluid">
    <a href="/Recetums/Index">><h6>Llamar Mesero</h6></a>
</div>