@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crud Administrador</h1>
    <p>Herramienta multiuso para cuatro funciones del almacenamiento persistente, en mantenimiento de empleado y visualización de stock.</p>
</div>

<div class="container-fluid">
    <a href="/Empleadoes/Index">· Control de empleados</a>

</div>

<div class="container-fluid">
    <a href="/Pedidoes/Index">· Stock pedidos</a>
</div>

<div class="container-fluid">
    <a href="/Ingredientes/Index">· Stock Ingredientes</a>
</div>

<div class="container-fluid">
    <a href="/Productoes/Index">· Stock Productos</a>
</div>

<div class="container-fluid">
    <a href="/Mesas/Index">· Mesas</a>
</div>
