@model kitchenApp.Models.Recetum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recetum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdingredienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdingredienteNavigation.Idingrediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdproductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdproductoNavigation.Idproducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idreceta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
