@model crudAdmin.Models.Ingrediente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Ingrediente</h3>
<div>
    <h6>Cualquier cambio realizado acá será irreversible</h6>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Nombre Ingrediente</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreingrediente)
        </dd>
        <dt class = "col-sm-2">
            <a>Precio Ingrediente</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precioingrediente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idingrediente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
