@model IEnumerable<crudAdmin.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Cantidad pedido</a>                      
            </th>
            <th>
                <a>Rut solicitante</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contpedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Idpedido">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
