@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crud Bodega</h1>
    <p>Es realmente el crud de administrador pero sin las cosas de administrador</p>
</div>


<div class="container-fluid">
    <a href="/Pedidoes/Index">>Stock pedidos</a>
</div>

<div class="container-fluid">
    <a href="/Ingredientes/Index">>Stock Ingredientes</a>
</div>

<div class="container-fluid">
    <a href="/Productoes/Index">>Stock Productos</a>
</div>