@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Crud Bodeguero</h1>
    <p>Herramienta multiuso para cuatro funciones del almacenamiento persistente, en el sector de bodega.</p>
</div>


<div class="container-fluid">
    <a href="/Pedidoes/Index">· Stock pedidos</a>
</div>

<div class="container-fluid">
    <a href="/Ingredientes/Index">· Stock Ingredientes</a>
</div>

<div class="container-fluid">
    <a href="/Productoes/Index">· Stock Productos</a>
</div>

<div class="container-fluid">
    <a href="/Bebidums/Index">· Stock bebidas</a>
</div>