@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crud Cocina</h1>
    <p>Crud de bodega pero que no es de bodega sino que es de cocina </p>
</div>


<div class="container-fluid">
    <a href="/Ordens/Index">>Ordenes</a>
</div>

<div class="container-fluid">
    <a href="/Ingredientes/Index">>Stock Ingredientes</a>
</div>

<div class="container-fluid">
    <a href="/Productoes/Index">>Stock Productos</a>
</div>

<div class="container-fluid">
    <a href="/Platoes/Index">>Platos</a>
</div>

<div class="container-fluid">
    <a href="/Recetums/Index">>Recetas</a>
</div>